---
#front matter
---

$main-bg-color: #fafdfe;
$main-color: #07585F;
$main-dark-color: #04363a;
$main-text-color: #f0fdfe;
$headings-color: #212121;
$darkest-color: #0d0d0d;


@charset "UTF-8";


* {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	margin: 0;
    padding: 0;
    font-family: 'Ubuntu', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: $main-bg-color;
	overflow-x: hidden;
}

main {
	width: 100%;
	height: 100%;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 700;
    color: $headings-color;
}

a {
	color: $main-text-color;
	text-decoration: none;
	border-bottom: 1px solid darken($main-text-color, 15%);
	
	&:active {
		color: $main-color;
	}
}



code, pre {
	width: auto;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.8rem;
	font-weight: normal;
	color: #444;
	background-clip: content-box;
}

#revealer_loader {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	pointer-events: none;
	background-color: transparent;
	transform: translateY(-100%);
	
	#revealer_layer_1, #revealer_layer_2 {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}
	
	#revealer_layer_1 {
		background-color: $main-color;
	}
	
	#revealer_layer_2 {
		background-color: $main-dark-color;
		
		#loader_wrapper {
			width: 100%;
			height: 100%;
			margin: 0;
		}
		
		.loader_img {
			width: inherit;
			height: inherit;
			margin: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			
					
			&::after {
				content: "";
				width: 220px;
				height: 220px;
				border: 2px solid $main-text-color;
				border-radius: 50%;
				background-color: rgba($main-color, 0.2);
				display: block;
				position: absolute;
				top: calc(50% - 112px);
				right: calc(50% - 112px);;
			}
		}
		
		span {
			width: 200px;
			height: 200px;
			margin: auto;
			border-radius: 50%;
			display: block;
			position: relative;
			overflow: hidden;	
		}
		
		img {
			height: 100%;
			user-drag: none;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	 
}

#revealer_loader.reloading_page {
	
	#revealer_layer_1 {
		animation: reveal-effect-1 2s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
	}
	
	#revealer_layer_2 {
		animation: reveal-effect-2 2s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
		
		.loader_img::after {
			animation: loader-scaler 2s ease infinite;
		}
	}
	
}

#revealer_loader.rel_pause {
	#revealer_layer_1 {
		animation-play-state: paused;
	}
	
	#revealer_layer_2 {
		animation-play-state: paused;
	}
}

#revealer_loader.rel_play {
	#revealer_layer_1 {
		animation-play-state: running;
	}
	
	#revealer_layer_2 {
		animation-play-state: running;
	}
}

@keyframes reveal-effect-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	30%,
	70% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.81, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.81, 0, 0.2, 1);
	}
	100% {
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}


@keyframes reveal-effect-2  {
	0%,
	14.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.81, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.81, 0, 0.2, 1);
	}
	85.5%,
	100% {
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}


@keyframes loader-scaler {
	0%, 100% {
		transform: scale(1);
	}
	
	25%, 75% {
		transform: scale(0.9);
	}
	
	50% {
		transform: scale(1.1);
	}
}




.particle_bg {
	width: 100%;
	height: 100%;
	background-color: rgba($main-color, 0.3);
	background-image: url(../assets/img/bg-00.jpg);
	background-size: cover;
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1000;

	canvas {
		display: block;
		vertical-align: bottom;
	}
}

.ham_btn {
	width: 35px;
	height: 35px;
	z-index: 1;
	position: fixed;
	right: 5vw;
	bottom: 5vh;

	svg {
		width: 100%;
		height: 100%;
		fill: #baf5fa;
		transition: all 0.3s ease-in-out;

		&:active {
			fill: $main-dark-color;
		}
	}
}


/*
** MAIN PAGE
*/

#main_wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;

	header {
		margin: auto;
		margin-top: 50px;
		margin-bottom: 20px;
		align-self: flex-start;
	}
	
	#site_logo {
		width: 120px;
		height: 120px;
		padding: 10px 10px;
		position: relative;
		opacity: 0;
		pointer-events: none;
		
		span {
			width: 100px;
			height: 100px;
			margin: 0;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			display: block;
		}
		
		img {
			height: 100%;
			user-drag: none;
			-webkit-user-drag: none;
			-moz-user-drag: none;
			position: absolute;
			top: 0;
			right: 0;
		}
		
		&::before {
			content: "";
			width: 120px;
			height: 120px;
			border: 2px solid $main-color;
			border-radius: 50%;
			background-color: rgba($main-color, 0.2);
			display: block;
			position: absolute;
			top: -2px;
			right: -2px;
		}
	}
	
	#site_nav_main {
		width: 40vw;
		height: 100vh;
		background-color: $main-color; 
		position: fixed;
		left: 0;
		z-index: 2;
		
		ul {
			width: 100%;
			height: 100%;
			margin: auto;
			padding: 0;
			list-style-type: none;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			align-items: center;
		}
		
		li {
			width: 100%;
			margin: auto;
			padding: 10px 0;
			background-color: rgba($main-color, 0.5);
			color: $main-bg-color;
			font-weight: 500;
			font-size: 0.8em;
			text-align: center;
			text-transform: capitalize;
			border-top: 1px solid rgba($main-bg-color, 0.2);
			border-bottom: 1px solid rgba($main-bg-color, 0.2);
			transition: all 0.35s ease-in-out;
			
			&:first-child {
				margin-bottom: 0;
				border-bottom: none;
			}
			
			&:last-child {
				margin-top: 0;
			}
			
			&:hover,
			&:active {
				cursor: pointer;
				background-color: rgba($main-color, 0.4);
			}
			
		}
		
		.active_page {
			color: $main-color;
		}
		
	}
	
	.nav_hidden {
		opacity: 0;
		transform: translate3d(-40vw, 0, 0);
		transition: transform 0.3s ease-in-out;
	}
	
	.nav_active {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
	}
	
	#about_article {
		width: 95%;
		margin: 20px auto;
		padding: 2%;
		font-size: 1rem;
		background-color: rgba($main-color, 0.3);
		border: 2px solid $main-color;
		border-radius: 2px;
		opacity: 0;
		align-self: center;

		.about_me {
			.description {
				-webkit-user-select: none;
				user-select: none;
				pointer-events: none;
			}
			
			p {
				font-size: 0.95em;
				text-indent: 2%;
				color: $main-text-color;
			}
			
			.contact {
				p {
					text-align: center;
				}
			}
		}
		
		div.type_writing {
			p::after {
				content: "\00A0\00A0\00A0";
				border-bottom: 2px solid $main-text-color;
				animation: caret-blink 1s step-end infinite;
			}
		
		}
		
//		span.caret_effect {
//			width: 16px;
//			height: 0;
//			display: inline-block;
//			border-bottom: 2px solid $main-text-color;
//			animation: caret-blink 1s step-end infinite;
//		}
	}
	
	.fade_in {
		animation: fade-in-effect 2s ease-in 0.2s 1 forwards;
	}
}


@keyframes fade-in-effect {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}


@keyframes caret-blink {
	from, to {
		border-bottom-color: transparent;
	}
	50% {
		border-bottom-color: white;
	}
	
}


#footer_container {
	width: 90%;
	margin: auto;
	opacity: 0;
	align-self: flex-end;

	.menu_icon {
		display : none;
	}
		
	#rights {
		width: 80%;
		margin: 25px auto;
		padding: 0;
		font-weight: 300;
		font-size: 0.75em;
		color: $main-text-color;
		text-align: center;
		box-sizing: content-box;
	}
}
	
#footer_contacts {
	ul {
		width: 90%;
		margin: auto;
		padding: 0px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		flex-wrap: nowrap;
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;	
	}

	li {
		list-style-type: none;
		margin: auto;
		-webkit-align-self: baseline;
		-ms-flex-item-align: baseline;
		align-self: baseline;
	}

	li:nth-child(3) {
		.links_icon {
			width: 30px;
			padding-top: 2px;
		}
	}
	
	a {
		outline: none;
		border: none;
		white-space: normal;
		overflow: hidden;
		display: inline;
		position: static;
		
		&::before,
		&::after {
			content: none;
		}
	}


	.links_icon {
		width: 30px;
		height: 25px;
		fill: $main-dark-color;
		-webkit-transition: fill 0.3s ease-in-out;
		transition: fill 0.3s ease-in-out;

		&:hover {
			fill: $main-color;  
		}
	}

}



/*
** BLOG PAGE
*/


#main_blog_wrapper {
	
	.ham_btn {
		svg {
			fill: $main-dark-color;

			&:active {
				fill: #baf5fa;
			}
		}
	}
		
	.nav_hidden {
		opacity: 0;
		transform: translate3d(-40vw, 0, 0);
	}

	.nav_active {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

#bpage_header {
	width: 40vw;
	height: 100vh;
	background-color: transparent;
	position: fixed;
	left: 0;
	z-index: 2;
	transition: transform 0.3s ease-in-out,
		opacity 0.2s ease-in-out;
	
	#header_quote {
		display: none;
		width: auto;
		margin: auto;
		padding: 0;
		word-spacing: 1.5px;
		align-self: flex-start;

		h3 {
			margin: 0;
			color: $main-text-color;
			font-weight: 500;
			font-size: 1em;
			font-style: italic;
			text-align: center;
		}

		span {
			font-weight: 300;
			font-size: 0.9em;
			word-spacing: normal;
		}
	}
	
	#blog_nav {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: $main-color;

		ul {
			width: inherit;
			height: inherit;
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			align-items: center;
		}

		li {
			width: 100%;
			margin: auto;
			padding: 10px 0;
			color: $main-bg-color;
			background-color: rgba($main-color, 0.2);
			font-weight: 500;
			font-size: 0.8em;
			text-align: center;
			text-transform: capitalize;
			border-top: 1px solid rgba($main-bg-color, 0.2);
			border-bottom: 1px solid rgba($main-bg-color, 0.2);
			-webkit-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
			
			&:first-child {
				margin-bottom: 0;
				border-bottom: none;
			}
			
			&:last-child {
				margin-top: 0;
			}
			
			&:active {
				background-color: rgba($main-color, 0.4);
			}
		}
		
		.active_page {
			color: $main-color;
		}
		
	}
}



/*
** Posts
*/

.posts_main {
    width: 85%;
	height: 100%;
	margin: auto;
	padding-top: 50px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: $darkest-color;
	
	.main_article {
		margin: 0 0 10%;
	}
	
	.post_header {
		margin: 0 auto 2%;
		font-family: 'Droid Serif',  "Palatino Linotype", "Book Antiqua", serif;
		
		h1 {
			margin: 0;
			margin-bottom: 20px;
			font-size: 1.6em;
			text-align: left; 
		}
		
		a {
			padding-bottom: 2px;
			color: inherit;
			white-space: normal;
			cursor: pointer;
		}
		
		time {
			font-weight: 300;
			font-size: 0.75em;
			font-style: italic;
			text-align: right;

		} 
		
		svg {
			width: 20px;
			height: 20px;
			margin: 0;
			margin-right: 5px;
			padding: 0;
			fill: $darkest-color;
		}
	}
	
	.main_section {
		h2 {
			font-size: 1.4em;
		}
		
		h3 {
			font-size: 1.2em;
		}
		
		h4 {
			font-size: 1em;
		}
		
		dt {
			font-weight: 500;
		}

		dd {
			font-size: 0.9em;
		}
		
		p {
			margin: 30px auto;
			font-weight: 400;
			font-size: 0.9em;
			text-align: left;
		}
		
		p + p {
			text-indent: 2%;
		}
		
		a {
			color: lighten($main-color, 5);
		}
	}
	
	
	#read_more {
		margin: auto;
		padding: 5px;
		font-weight: 300;
		font-size: 0.8em;
		text-align: right;
		color: $main-color;
		border-bottom: 1px dotted $main-color;
		border-radius: 2px;
		transition: all 0.35s ease-in-out;

		&:active {
			border: none;
			color: $main-bg-color;
			background-color: $main-color;
	
		}
	}
	

	.see_articles {
		width: 60%;
		margin: 100px auto;
		padding: 5px 10px;
		font-size: 0.8em;
		font-weight: 500;
		text-transform: capitalize;
		text-align: center;
		color: $main-color;
		border: 2px solid $main-color;
		border-radius: 2px;
		display: block;
		transition: all 0.35s ease-in;

		&:active {
			color: $main-bg-color;
			background-color: $main-color;
		}
	}

}


/*
** ARTICLES PAGE
*/


#articles_main {
	width: 85%;
	height: 100%;
	margin: auto;
	padding-top: 50px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: $darkest-color;
}


#articles_wrapper {
    width: 100%;
	margin: 0 auto 5%;
    display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	
	.articles_list {
		width: 90%;
		margin: 10px auto;
		border-radius: 4px;
		background-color: #fdfdfd;
		box-shadow: 1px 1px 6px -2.5px rgba(13, 13, 13, 0.2), -1px 0 6px -2.5px rgba(13, 13, 13, 0.2);
		position: relative;
		overflow: hidden;
		
		time {
			width: 90%;
			margin: 0 auto;
			padding: 2%;
			font-weight: 300;
			font-size: 0.75em;
			font-style: italic;
			display: inline-block;
		}
		
		svg {
			width: 20px;
			height: 20px;
			margin: 0;
			margin-right: 5px;
			padding: 0;
			fill: $darkest-color;
		}
	}
	
	.article_header {
		padding: 0 5%; 
		margin: 5% auto;
		font-family: 'Droid Serif', "Palatino Linotype", "Book Antiqua", serif;
		
		h1 {
			margin: 0;
			margin-bottom: 20px;
			font-size: 1.2em;
			text-align: center;
		}
	}
	
	.article_excerpt {
		width: 100%;
		height: 10%;
		margin: 0;
		padding: auto 5%;
		overflow: hidden;
		
		p {
			padding: 0 15px;
			font-size: 0.82em;
			text-align: justify;
		}
	}
	
	.article_read_more {
		width: 40%;
		height: 100%;
		background-color: rgba($main-color, 0.2);
		position: absolute;
		top: 0;
		right: 0;
		
		span {
			width: 100%;
			height: 100%;
			margin: 0;
			display: block;
		}

		p {
			width: 100%;
			height: 90%;
			margin: auto;
			margin-top: 10%;
			font-weight: 300;
			font-size: 0.8em;
			text-align: center;
			color: $darkest-color;
		}
	
		.arrow_forward {
			width: 30px;
			height: 30px;
			fill: $main-color;
			position: absolute;
			top: calc(50% - 30px);
			right: calc(50% - 30px);
		}
	}
    
}



/*
** MEDIA QUERYS
*/


@media(min-width: 770px) {
	main {
		width: 100vw;
		height: 100vh;
	}
	
	#revealer_loader {
		width: 100vw;
		height: 100vh;
	}
	
	.ham_btn {
		display: none;
	}
	
	#main_wrapper {
		#about_article {
			width: 95%;
		}
		
		#site_nav_main {
			width: 100%;
			height: auto;
			margin: 5px auto;
			padding: 0;
			background-color: transparent;
			position: static;
			z-index: auto;

			ul {
				width: 30%;
				flex-flow: row nowrap;
			}

			li {
				width: 50%;
				background-color: rgba($main-color, 0.2);
				border: none;
				border-left: 2px solid $main-color;
				border-radius: 2px;
				transition: all 0.35s ease-in-out;
				cursor: pointer;
				
				&:first-child {
					border-left: none;
				}
				
				&:last-child {
					
				}

				&:hover,
				&:active {
					background-color: rgba($main-color, 0.4);
				}

			}
		}
		
		.nav_hidden {
			opacity: 0;
			transform: none;
			transition: none;
		}
	}
	
	
	/*
	** Blog Page
	*/
	
	#main_blog_wrapper {

		.nav_hidden {
			opacity: 1;
			transform: none;
			transition: height 0.2s ease-in-out;
		}
		
		.min_header {
			height: 50px;
			background: none;
			background-color: $main-bg-color;
			border-bottom: 2px solid $main-color;
			box-shadow: 0px 4px 5px rgba($main-color, 0.2);
			
			#header_quote {
				h3 {
					color: $main-color;
				}
			}
			
			#blog_nav {
				li {
					color: $main-color;
					background-color: rgba($main-color, 0.1);
				}
			}
		}
	}
	
	#bpage_header {
		width: 100vw;
		height: 100px;
		color: $main-color;
		background-color: rgba($main-color, 0.6);
		background-image: url(../assets/img/bg-00.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 100% 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;   
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;


		#header_quote {
			display: block;
		}


		#blog_nav {
			width: 40%;
			margin: auto;
			padding: 0;
			background-color: transparent;

			ul {
				width: 80%;
				margin: auto;
				padding: 0;
				flex-flow: row nowrap;
			}

			li {
				width: 50%;
				background-color: rgba($main-color, 0.2);
				cursor: pointer;
				border: none;
				border-left: 2px solid $main-color;
				border-radius: 2px;
				
				&:first-child {
					margin-bottom: auto;
					border-left: none;
				}

				&:last-child {
					margin-top: auto;
				}

				&:hover,
				&:active {
					cursor: pointer;
					background-color: rgba($main-color, 0.4);
				}

			}

			.active_page {
				color: $main-color;
			}

		}
	}
	
	#footer_container {
		width: 60%;
	}
	
	.posts_main {
		width: 75%;
		padding-top: 150px;
		
		
		#read_more {
			cursor: pointer;

			&:hover,
			&:active {
				border: none;
				color: $main-bg-color;
				background-color: $main-color;
			}
		}
		
		.see_articles {
			width: 20%;
			transition: all 0.35s ease-in;
			cursor: pointer;

			&:hover,
			&:active {
				color: $main-bg-color;
				background-color: $main-color;
			}
		}
	}
	
	/*
	** ARTICLES PAGE
	*/
	
	#articles_main {
		width: 75%;
		padding-top: 150px;
	}
	
	#articles_wrapper {
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		.articles_list {
			width: 45%;
			height: 300px;
			margin: 2% auto;

			time {
				height: 10%;
			}

			&:hover {
				.article_read_more {
					opacity: 1;
					background-color: rgba($main-color, 0.2);
				}
			}
		}

		.article_header {
			margin: 2% auto;
		}

		.article_excerpt {
			height: 40%;
			margin: 0;
		}

		.article_read_more {
			width: 100%;
			opacity: 0;
			transition: all 0.4s 0.1s ease-in-out;
			cursor: pointer;
			
			span {
				
			}
			
			p {
				height: 45%;
				margin-top: 50%;
			}

			.arrow_forward {
				right: 5%;
				bottom: 5%;
				transform: scale(0, 0);
				transition: all 0.35s 0.45s ease-in;
			}

			&:hover,
			&:active {
				.arrow_forward {
					-webkit-transform: scale(1, 1);
					transform: scale(1, 1);
				}
			}
		}

	}
	
	
	a {
		border: none;
		text-indent: 0;
		outline: none;
		vertical-align: bottom;
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
		position: relative;
		transition: all 0.2s ease-in-out;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background-color: darken($main-text-color, 15%);
			z-index: -1;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			right: 0;
			transform: translateY(95%);
			transition: transform 0.2s ease-in-out;
		}

		&:hover {
			color: $main-color;
		}

		&:hover::before {
			-webkit-transform: translateY(0%);
			transform: translateY(0%);
		}

		&:active {
			color: $main-color;
		}
	}
}

@media(min-width: 930px) {
	
	#main_wrapper {
		#about_article {
			width: 85%;
		}
	}
	
	.posts_main {
		width: 65%;
		padding-top: 150px;
	}
	
	#articles_main {
		width: 70%;
	}
	
}


@media(min-width: 1100px) {
	#main_wrapper {
		#about_article {
			width: 75%;
		}
	}
	
	.posts_main {
		width: 60%;
		padding-top: 150px;
	}
	
}

