---
#front matter
---

$main-bg-color: #fafafa;
$main-color: #07585F;
$headings-color: #212121;
$darkest-color: #0d0d0d;


@charset "UTF-8";


* {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	margin: 0;
    padding: 0;
    font-family: 'Ubuntu', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: $main-bg-color;
	overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 700;
    color: $headings-color;
}

code, pre {
	width: auto;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.8rem;
	font-weight: normal;
	color: #444;
	background-clip: content-box;
}


#availability {
	width: 200px;
	margin: 0;
	padding: 5px;
	background-color: rgba($main-color, 0.5);
	color:  $main-bg-color;
	position: absolute;
	
	
	#available_month {
		font-weight: bold;
		color:  $main-color;
	}
	
	a {
		width: 100%;
		height: 100%;
		display: block;
	}
	
	&:hover {
		cursor: pointer;
	}
}

.availability_hidden {
	right: -180px;
	
	div {
		opacity: 0;
	}
}

.availability_show {
	right: 0;
	
	div {
		opacity: 1;
	}
}


#main_header {
	width: 200px;
	height: 100%;
	color: $main-color;
	background-color: rgba($main-color, 0.6);
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;   
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	
	#header_logo {
		width: 60px;
		height: 60px;
		margin: 30px auto;
		padding: 0;
		-webkit-box-flex: 0.8;
		-webkit-flex: 0.8 1;
		-ms-flex: 0.8 1;
		flex: 0.8 1;
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;

		img {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}
	
	
	#header_quote {
		width: 80%;
		margin: 0 auto;
		padding: 0;
		word-spacing: 1.5px;
		flex: 0.6 1;
		
		h3 {
			margin: 0;
			font-weight: 500;
			font-size: 1em;
			font-style: italic;
			text-align: center;
		}
		
		span {
			font-weight: 300;
			font-size: 0.9em;
			word-spacing: normal;
		}
	}
	
	
	#site_nav {
		width: 100%;
		margin: 100px 0;
		padding: 0;
		-webkit-box-flex: 2.5;
		-webkit-flex: 2.5 1;
		-ms-flex: 2.5 1;
		flex: 2.5 1;
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
		
		ul {
			width: 100%;
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: block;
		}
		
		li {
			width: 100%;
			margin: 0;
			padding: 0;
			font-weight: 500;
			font-size: 0.8em;
			text-align: left;
			text-transform: capitalize;
			
		}
		
		li:last-child {
			margin-bottom: 0;
			text-transform: lowercase;
		}
		
		a {
			width: 100%;
			height: 100%;
			padding: 10px 0 10px 20px;
			text-decoration: none;
			color: $main-bg-color;
			display: inline-block;
			border-top: 1px solid rgba($main-color, 0.2);
			border-bottom: 1px solid rgba(7, 88, 95, 0.2);
			position: relative;
			-webkit-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
			
			&::after {
				content: "";
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: $main-bg-color;
				opacity: 0;
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
				-webkit-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
			}
			
			&:hover,
			&:active {
				background-color: rgba($main-color, 0.2);
				color: $main-color;
			}
			
			&:hover::after {
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
				opacity: 1;
			}

		}
		
		li:nth-child(2),
		li:nth-child(3) {
			a {
				border-top: none;
			}
		}
	}
	
	.active_page {
		color: $main-color;
	}
	
	#footer_container {
		width: 100%;
		margin: 0 auto;
		-webkit-box-flex: 1.2;
		-webkit-flex: 1.2 1;
		-ms-flex: 1.2 1;
		flex: 1.2 1;
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
		
		.menu_icon {
			display : none;
		}
		
		
		#rights {
			width: 80%;
			margin: 25px auto;
			padding: 0;
			font-weight: 300;
			font-size: 0.75em;
			text-align: center;
			box-sizing: content-box;
		}
	}
	
	#footer_contacts {
		ul {
			width: 90%;
			margin: auto;
			padding: 0px;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			flex-wrap: nowrap;
			-webkit-justify-content: space-around;
			-ms-flex-pack: distribute;
			justify-content: space-around;	
		}
		
		li {
			list-style-type: none;
			margin: auto;
			-webkit-align-self: baseline;
			-ms-flex-item-align: baseline;
			align-self: baseline;
		}

		li:nth-child(3) {
			.links_icon {
				width: 30px;
				padding-top: 2px;
			}
		}
		
		
		.links_icon {
			width: 30px;
			height: 25px;
			fill: $main-color;
			-webkit-transition: fill 0.35s ease-in-out;
			transition: fill 0.35s ease-in-out;
			
			&:hover {
				fill: $main-bg-color;  
			}
		}

	}
	
}



.posts_main_container {
    width: 55%;
    margin-left: 25%;
    line-height: 1.6;
    font-size: 1.1rem;
    color: $darkest-color;
	
	.main_article {
		margin: 0 0 10%;
	}
	
	.post_header {
		margin: 10% auto 2%;
		font-family: 'Droid Serif',  "Palatino Linotype", "Book Antiqua", serif;
		
		h1 {
			margin: 0;
			margin-bottom: 20px;
			font-size: 1.6em;
			text-align: left; 
		}
		
		a {
			padding-bottom: 2px;
			text-decoration: none;
			color: inherit;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			
			&:hover,
			&:active {
				color: $main-color;
			}
		}
		
		time {
			font-weight: 300;
			font-size: 0.75em;
			font-style: italic;
			text-align: right;

		} 
		
		svg {
			width: 20px;
			height: 20px;
			margin: 0;
			margin-right: 5px;
			padding: 0;
			fill: $darkest-color;
		}
	}
	
	.main_section {
		h2 {
			font-size: 1.4em;
		}
		
		h3 {
			font-size: 1.2em;
		}
		
		h4 {
			font-size: 1em;
		}
		
		dt {
			font-weight: 500;
		}

		dd {
			font-size: 0.9em;
		}
		
		p {
			margin: 30px auto;
			font-weight: 400;
			font-size: 0.9em;
			text-align: left;
		}
		
		p + p {
			text-indent: 2%;
		}
		
		a {
			text-decoration: none;
			color: lighten($main-color, 20);
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			
			&:hover,
			&:active {
				color: $darkest-color;
			}
		}
	}
	
	
	#read_more {
		font-weight: 300;
		font-size: 0.8em;
		text-align: right;
		display: block;

		a {
			padding: 5px;
			text-decoration: none;
			color: $main-color;
			border-bottom: 1px dotted $main-color;
			border-radius: 2px;
			-webkit-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;

			&:hover,
			&:active {
				border: none;
				color: $main-bg-color;
				background-color: $main-color;
			}
		}
	}
	

	#see_articles {
		width: 20%;
		margin: 100px auto;
		text-align: center;
		
		a {
			padding: 5px 10px;
			font-size: 0.8em;
			font-weight: 500;
			text-decoration: none;
			text-transform: capitalize;
			color: $main-color;
			border: 2px solid $main-color;
			border-radius: 2px;
			display: block;
			-webkit-transition: all 0.35s ease-in;
			transition: all 0.35s ease-in;
			
			&:hover,
			&:active {
				color: $main-bg-color;
				background-color: $main-color;
			}
			
			&:active {
				 font-size: 0.75em;
			}
		}
	}
	
	.article_snapshot {
		width: 100%;
		height: 450px;
		margin: 0;
		margin-bottom: 50px;
		
		figcaption {
			text-align: right;
			font-size: 0.9em;
		}
	}

}


#articles_wrapper {
    margin: 15% auto 5%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
	
	.articles_list {
		margin: 0 1% 10%;
		border-radius: 4px;
		background-color: #fdfdfd;
		box-shadow: 1px 1px 6px -2.5px rgba(13, 13, 13, 0.2), -1px 0 6px -2.5px rgba(13, 13, 13, 0.2);
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 35%;
		-ms-flex: 1 1 35%;
		flex: 1 1 35%;
		position: relative;
		overflow: hidden;
		
		time {
			width: 90%;
			margin: 0 auto;
			padding: 15px;
			font-weight: 300;
			font-size: 0.75em;
			font-style: italic;
			display: inline-block;
		}
		
		&:hover {
			.article_read_more {
				opacity: 1;
				background-color: rgba($main-color, 0.6);
			}
		}
		
		svg {
			width: 20px;
			height: 20px;
			margin: 0;
			margin-right: 5px;
			padding: 0;
			fill: $darkest-color;
		}
	}
	
	.article_header {
		padding: 0 15px; 
		margin: 5% auto;
		font-family: 'Droid Serif',  "Palatino Linotype", "Book Antiqua", serif;
		
		h1 {
			margin: 0;
			margin-bottom: 20px;
			font-size: 1.2em;
			text-align: right;
		}
		
		span {
			width: 100%;
			height: 10%;
			margin: 0;
			overflow: hidden;
			display: block;
		}
		
		img {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			padding: 0;
		}
	}
	
	.article_excerpt {
		width: 100%;
		height: 10%;
		margin: 0;
		padding: auto 15px;
		overflow: hidden;
		
		p {
			padding: 0 15px;
			font-size: 0.82em;
			text-align: left;
		}
	}
	
	.article_read_more {
		font-weight: 300;
		font-size: 0.8em;
		text-align: center;
		background-color: rgba(0,102,102, 0);
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-transition: all 0.55s 0.2s ease-in-out;
		transition: all 0.55s 0.2s ease-in-out;
		
		a {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 15% 0 50%;
			text-decoration: none;
			color: $main-color;
			display: inline-block;
			
			&:hover,
			&:active {
				color: $main-bg-color;
			}
		}
		
		.arrow_forward {
			width: 30px;
			height: 30px;
			fill: $main-bg-color;
			position: absolute;
			top: 5%;
			right: 5%;
			-webkit-transform: scale(0, 0);
			transform: scale(0, 0);
			-webkit-transition: all 0.35s 0.45s ease-in;
			transition: all 0.35s 0.45s ease-in;
		}
		
		&:hover,
		&:active {
			.arrow_forward {
				-webkit-transform: scale(1, 1);
				transform: scale(1, 1);
			}
		}
	}
    
}


#about_main {
    width: 50%;
    margin: 10% auto;
    font-size: 1rem;
	
	#mephoto {
		width: 180px;
		height: 180px;
		overflow: hidden;
		float: right;
		position: relative;
		
		span {
			width: 180px;
			height: 180px;
			margin: 0;
			overflow: hidden;
			display: block;
			position: relative;
		}
		
		img {
			width: 120%;
			height: 110%;
			position: absolute;
			right: 0;
		}
	}
	
	.about_me {
		
		h3 {
			margin: 0;
			margin-right: 190px;
			padding-top: 160px;
			font-weight: 400;
			text-align: right;
		}
		
		p {
			font-size: 0.95em;
			text-indent: 2%;
		}
		
		hr {
			margin: 30px 0;
		}
	}
	
	a {
		color: lighten($main-color, 20);
		text-decoration: none;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		
		&:hover,
		&:active {
			 color: $darkest-color;
		}
	}
}
