<footer id="footer_container">
	 <div id="footer_links">
		<ul>
			<li><a href="https://github.com/{{site.github_username}}" title="sen0rxol0's GitHub" target="_blank">
				<svg class="links_icon">
					<use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#github-icon"/>
				</svg>
			</a></li>
			<li><a href="https://twitter.com/{{site.twitter_username}}" title="sen0rxol0 on Twitter" target="_blank">
				<svg class="links_icon"><use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#twitter-icon"/>
				</svg>
			</a></li>
			<li><a href="mailto:{{site.email_address}}" title="Contact" target="_blank">
				 <svg class="links_icon">
					<use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#email-icon"/>
				</svg>
			</a></li>
			<li><a href="{{ site.cv_link }}" title="Curriculum Vitae">
				 <svg class="links_icon">
					<use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#curriculum-icon"/>
				</svg>
			</a></li>
		</ul>
	</div>
	<p id="rights">&copy; 2016, Walter Varela</p>
</footer>