<footer id="footer_container">
	 <div id="footer_contacts">
		<ul>
			<li><a href="https://github.com/{{site.github_username}}" title="sen0rxol0's GitHub">
				<svg class="links_icon" width="30" height="25">
					<use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#github-icon"/>
				</svg>
			</a></li>
			<li><a href="https://twitter.com/{{site.twitter_username}}" title="sen0rxol0 on Twitter">
				<svg class="links_icon" width="30" height="25"><use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#twitter-icon"/>
				</svg>
			</a></li>
			<li><a href="mailto:{{site.email_address}}" title="Say Hello/ Contact Me">
				 <svg class="links_icon" width="30" height="27">
					<use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#email-icon"/>
				</svg>
			</a></li>
		</ul>
	</div>
	<p id="rights">&copy; 2016, Walter Varela</p>
</footer>