<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="description" description="{{ page.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-indigo.min.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" media="screen">
	<script defer src="{{ site.baseurl }}/assets/scripts/libs/particles.min.js"></script>
	<script defer src="{{ site.baseurl }}/assets/scripts/main.js"></script>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    
</head>
