<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="description" description="{{ page.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,500italic,700,300italic,700italic,400italic,300'
        rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet" media="screen">
	<script src="{{ site.baseurl }}/assets/scripts/libs/particles.min.js"></script>
	<script src="{{ site.baseurl }}/assets/scripts/main.js"></script>
</head>
