---
layout: blog
title: sen0rxol0's blog - Blog
---

<span class="ham_btn" title="Menu"><svg><use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#menu-icon"/></svg></span>

<div id="blog_posts">
    {% for post in site.posts limit:2 %}
    <article class="post_article">
        <header class="post_header">
			<h1>{% if forloop.last %}
				<a class="ajx_nv" data-href="{{ site.baseurl }}{{ post.url }}">
					{{ post.title}}
				</a>{% else %} {{ post.title}} {% endif%}
			</h1>
		   <time datetime="{{ page.date }}">
				<svg id="calendar-icon"><use xlink:href="{{ site.baseurl }}/assets/img/icon-sprite.svg#calendar-icon"></use></svg>
				{{ post.date | date: "%B %-d, %Y" }}
			</time>
        </header>
       
        <section class="posts_section">  
			{% if forloop.first %}
			{{ post.content }} {% else %} {{ post.excerpt }} 
			<span id="read_more" class="ajx_nv" data-href="{{ site.baseurl }}{{ post.url }}">Continue reading&mldr;
			</span>
			{% endif %}
        </section>
    </article>
    {% endfor %}
    {% if site.posts.size > 2 %}
  <span class="see_articles ajx_nv" data-href="{{ site.baseurl }}/articles/">Articles</span>
    {% endif %}
</div>