<!DOCTYPE html>

<!--
                       _______                      __  _______ 
 .-----..-----..-----.|   _   |.----..--.--..-----.|  ||   _   |
 |__ --||  -__||     ||.  |   ||   _||_   _||  _  ||  ||.  |   |
 |_____||_____||__|__||.  |   ||__|  |__.__||_____||__||.  |   |
                      |:  1   |                        |:  1   |
                      |::.. . |                        |::.. . |
                      `-------'                        `-------'
-->
<html lang="en">

{% include head.html %}

<body>
<div id="revealer_loader" class="">
	<div id="revealer_layer_1"></div>
	<div id="revealer_layer_2">
		<div id="loader_wrapper">
			<div class="loader_img">
				<span><img src="{{ site.baseurl }}/assets/img/char0.jpg"></span>
			</div>
		</div>
	</div>
</div>
<main id="blog_main_wrapper">
{% include header.html %}

{{content}}	
</main>
</body>
</html>