---
layout: main
---

<main class="posts_main_container">
<article class="main_article">
    <header class="post_header">
    <h1>{{ page.title}}</h1>
    <time datetime="{{page.date}}">
        <svg><use xlink:href="{{ site.url }}/assets/img/icon-sprite.svg#calendar-icon"></use></svg>
        {{ page.date | date: "%B %-d, %Y" }}</time>
    </header>
    <section class="main_section">    
        {{ content }}
    </section>
</article>
<div id="see_articles">
    <p><a href="{{ site.url }}/articles/index.html">go back to articles</a></p>
</div>
</main>
