---
layout: main
title: See All Articles
---
<main class="posts_main_container">
<div id="articles_wrapper" class="">
    {% for post in site.posts limit: 6 %}
<article class="articles_list">
    <header class="article_header">
        <h1>{{ post.title}}</h1>
        {% if post.thumbnail %}
        <span><img src="{{post.thumbnail}}"></span>
        {% endif %}
    </header>
    {% unless post.thumbnail %}
    <div class="article_excerpt">
        {{ post.excerpt }}
    </div>
    {% endunless %}
    <time datetime="{{page.date}}">
        <svg id="calendar-icon"><use xlink:href="{{ site.url }}/assets/img/icon-sprite.svg#calendar-icon"></use></svg>
        {{ post.date | date: "%B %-d, %Y" }}
    </time>
    
    <span class="read_more"><a href="{{ site.url }}{{ post.url }}">Read More</a>
    <svg class="arrow_forward"><use xlink:href="{{ site.url }}/assets/img/icon-sprite.svg#arrow-right-icon"/></svg></span>    
</article>
    {% endfor %}
</div>
</main>